	<!-- Header Star -->
<header class="site-header sticky-header-wrapper 2xxl:mt-7.5 lg:mt-5 mt-1.25 absolute top-0 left-0 z-999 w-full">
	<div class="sticky-header main-bar-wraper w-full">
		<div class="main-bar w-full max-lg:pt-3.75 max-sm:!pt-2.5 max-sm:!px-2.5">
			<div class="container flex items-center relative z-1 before:rounded-xxl before:bg-white before:absolute lg:before:w-[calc(100%_+_40px)] sm:before:w-[calc(100%_+_20px)] before:w-[calc(100%_+_10px)] before:h-full lg:before:-mx-7.5 before:-mx-5 before:shadow-[0_10px_20px_rgba(var(--secondary-rgb),0.1)] before:-z-1 max-sm:before:left-3.75 [.site-header.is-fixed_&]:before:shadow-none">

				<!-- Website Logo -->
				<div class="flex items-center align-middle xl:w-41.25 w-33.75 sm:h-20 h-15.25 max-xl:me-2 border-r border-secondary/10 pr-3.75 mr-4.5 logo-dark">
					<a asp-controller="Home" asp-action="Index" class="table-cell align-middle"><img loading="lazy" src="@Url.Content("~/img/"+DataRequestModel.SiteSetting.Logo)" alt="logo" class="object-contain"></a>
				</div>

				<button class="xmenu-toggler lg:hidden float-right my-2.5 lg:ml-7 ml-5 size-11 bg-secondary rounded-2lg relative cursor-pointer max-lg:order-1 max-sm:ms-auto" aria-label="Toggle navigation menu" type="button">
					<span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-300 top-3.25 w-5.5"></span>
					<span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-0 top-5.5 w-6.25"></span>
					<span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-300 top-8 w-4"></span>
				</button>
				<div class="lg:hidden fixed top-0 left-0 bg-black size-full duration-300 z-999 opacity-0 visible pointer-events-none menu-close fade-overlay"></div>
				<div class="flex lg:basis-auto lg:grow max-lg:flex-col lg:justify-start font-title max-lg:fixed max-lg:h-full max-lg:px-5 max-lg:top-0 max-lg:-left-75 max-lg:z-9999 max-lg:bg-white max-lg:w-72 max-lg:overflow-auto max-lg:duration-700 header-nav custom-scroll">
					<div class="flex items-center relative z-9 py-6.25 lg:hidden w-33.75 h-15.25">
						<a asp-controller="Home" asp-action="Index" class="table-cell align-middle">
							<img loading="lazy" src="@Url.Content("~/img/" + DataRequestModel.SiteSetting.Logo)" alt="logo" width="400" height="120" class="object-contain duration-500">
						</a>
					</div>
					<ul class="lg:flex flex-wrap navbar-nav">
						<li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="Home" asp-action="Index">
								<span class="inline-block leading-7.5">Anasayfa</span>
							</a>
						</li>
						<li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="About" asp-action="Index">
								<span class="inline-block leading-7.5">Hakkımda</span>
							</a>
						</li>
						<li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="Service" asp-action="Index">
								<span class="inline-block leading-7.5">Hizmetler</span>
							</a>
						</li>
						<li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="Blog" asp-action="Index">
								<span class="inline-block leading-7.5">Blog</span>
							</a>
						</li>
						<li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="Faq" asp-action="Index">
								<span class="inline-block leading-7.5">SSS</span>
							</a>
						</li>
						
						@* <li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 relative group">
							<a class="lg:py-6 py-2 xl:px-4 lg:px-2 relative lg:inline-block block xl:text-lg text-2sm font-medium lg:text-heading text-secondary hover:text-primary" asp-controller="Contact" asp-action="Index">
								<span class="inline-block leading-7.5">İletişim</span>
							</a>
						</li> *@
					</ul>
					<div class="extra-nav flex items-center h-20 3xl:pl-7.5 ml-auto max-sm:w-full max-sm:bg-white max-sm:px-5 max-sm:shadow-3 max-sm:h-15">
						<div class="flex items-center w-full">
							<ul class="lg:ml-5 sm:ml-3.75 flex items-center gap-7.5 w-full justify-between">
								<li class="2xxl:inline-flex items-center gap-3.75 hidden">
									<div class="widget-media">
										<i class="feather icon-phone-call dz-ring-effect text-3xxl inline-flex animate-dzRing text-secondary"></i>
									</div>
									<div class="widget-content">
										<h6 class="text-primary text-sm font-normal mb-0">Hemen Arayın</h6>
										<a href="tel:@DataRequestModel.SiteSetting.Phone" class="sm:text-lg text-base font-semibold text-secondary">@DataRequestModel.SiteSetting.Phone</a>
									</div>
								</li>

								<li class="inline-block">
									<a asp-controller="Contact" asp-action="Index" class="btn btn-primary btn-hover1 max-md:!text-sm max-md:!py-2.5 max-md:!px-4.5 max-md:!rounded-2lg">
										İletişim
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="lg:hidden block max-lg:p-5 text-center">
						<ul>
							@if(!string.IsNullOrEmpty(DataRequestModel.SiteSetting.YouTube))
							{
								<li class="inline-block mx-0.5">
									<a class="size-10 !leading-10 border border-black/10 text-center text-secondary fab fa-youtube" target="_blank" href="@DataRequestModel.SiteSetting.YouTube"></a>
								</li>
                            }
							@if (!string.IsNullOrEmpty(DataRequestModel.SiteSetting.Instagram))
							{
								<li class="inline-block mx-0.5">
									<a class="size-10 !leading-10 border border-black/10 text-center text-secondary fab fa-instagram" target="_blank" href="@DataRequestModel.SiteSetting.Instagram"></a>
								</li>
							}
							@if (!string.IsNullOrEmpty(DataRequestModel.SiteSetting.Facebook))
							{
								<li class="inline-block mx-0.5">
									<a class="size-10 !leading-10 border border-black/10 text-center text-secondary fab fa-facebook-f" target="_blank" href="@DataRequestModel.SiteSetting.Facebook"></a>
								</li>
                            }
							
							@if (!string.IsNullOrEmpty(DataRequestModel.SiteSetting.Twitter))
							{
								<li class="inline-block mx-0.5">
									<a class="size-10 !leading-10 border border-black/10 text-center text-secondary fab fa-twitter" target="_blank" href="@DataRequestModel.SiteSetting.Twitter"></a>
								</li>
                            }
							
							
						</ul>
					</div>
					
				</div>
			
			</div>
		</div>
	</div>
</header>
<!-- Header End -->