@model About
@{
	var site = DataRequestModel.SiteSetting;

	ViewData["Title"] = string.IsNullOrEmpty(Model?.MetaTitle)
		? "Hakkımızda"
		: Model?.MetaTitle;

	ViewData["MetaDescription"] = string.IsNullOrEmpty(Model?.MetaDescription)
		? (site?.MetaDescription ?? "Hakkımızda")
		: Model?.MetaDescription;

	ViewData["MetaKeywords"] = string.IsNullOrEmpty(Model?.Keywords)
		? (site?.Keywords ?? "Hakkımızda")
		: Model?.Keywords;
}
<main class="page-content">

	<!-- Banner  -->
	<div class="lg:min-h-125 md:min-h-100 sm:min-h-87.5 min-h-75 bg-cover bg-center bg-light relative z-1 w-full overflow-hidden flex" style="background-image:url(images/banner/bnr1.webp);">
		<div class="container relative z-1 h-auto table">
			<div class="row">
				<div class="lg:w-2/3">
					<div class="table-cell lg:h-125 md:h-100 sm:h-87.5 h-75 align-middle pt-17.5 pb-5 xl:ps-17.5 max-md:text-center">
						<h1 class="2xxl:text-7xl xl:text-6xxl md:text-[48px] text-4xl font-bold mb-1.25 leading-[1.2] break-word !text-white wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Hakkımda</h1>
						<nav class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
							<ul class="inline-block rounded-5xl lg:py-2.5 py-1.5 lg:px-7.5 px-5 bg-white shadow-breadcrumb">
								<li class="inline-block lg:text-base text-sm font-normal capitalize text-primary"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
								<li class="inline-block lg:text-base text-sm font-normal capitalize text-primary pl-2 relative before:content-['\f101'] before:float-left before:text-primary before:font-bold before:font-['Font_Awesome_5_Free'] before:text-sm before:pr-3 before:top-0.5 before:relative">Hakkımda</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="absolute right-[-2%] bottom-[-2%] float-right max-3xl:w-130 max-lg:hidden">
				<img src="images/banner/background.png" alt="" class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
			</div>
		</div>
		<div class="absolute z-9 bottom-[5%] right-[45%] max-xl:hidden"><img class="animate-move1" src="images/banner/item1.png" alt=""></div>
		<div class="absolute z-9 3xl:top-[30%] top-2/5 right-[35%] max-xl:hidden"><img class="animate-move2" src="images/banner/item2.png" alt=""></div>
		<div class="absolute z-9 3xl:bottom-[20%] right-[10%] bottom-[30%] max-xl:hidden"><img class="animate-move3" src="images/banner/item3.png" alt=""></div>
		<div class="absolute z-9 bottom-[20%] 3xl:right-[18%] right-[5%] max-xl:hidden"><img class="animate-move3" src="images/banner/item4.png" alt=""></div>
		<div class="h-full w-25 min-w-25 absolute bottom-0 flex justify-between items-center flex-col py-6.25 px-3.75 left-0 border-r border-white/10 z-1 max-xl:hidden">
			<ul class="flex gap-7.5 [writing-mode:sideways-lr]">
				
				
				<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.Facebook" target="_blank">Facebook</a></li>
				<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.YouTube" target="_blank">Youtube</a></li>
				<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.Instagram" target="_blank">Instagram</a></li>
			</ul>
			<a asp-controller="Contact" asp-action="Index" class="btn btn-white btn-sm !py-2 !px-4 shadow-btn [writing-mode:sideways-lr] !rounded-2xl">Hadi Başlayalım</a>
		</div>
	</div>
	<!-- Banner End -->

	<section class="py-10 lg:py-16 bg-white overflow-hidden">
		<div class="container">
			<div class="row py-0 items-center">
				<div class="lg:w-1/2 w-full mb-12.5">
					<div class="2xl:pr-5 lg:pr-7.5 lg:pl-21.25 relative">
						<div class="rounded-full z-1 lg:border-[10px] border-[5px] border-light relative overflow-hidden max-lg:mx-auto lg:w-auto md:w-115 sm:w-87.5 w-57.5">
							<img src="img/@Model.Image" alt="" class="rounded-full">
						</div>
						<div class="absolute top-1/2 left-1/2 h-auto 2xl:w-187.5 xl:w-152.5 lg:w-115 md:w-155 sm:w-117.5 w-82.5 xl:ml-10 lg:ml-12.5 md:ml-5 ml-2.5 2xl:-mt-2.5 animate-circleWrapper">
							<img src="images/about/bg.png" alt="">
						</div>
					</div>
				</div>
				<div class="lg:w-1/2 w-full 2xl:!pl-25 lg:!pl-15 !pl-2.5">
					<div class="sm:mb-7.5 mb-5">
						<div class="text-primary font-semibold leading-5 uppercase text-lg inline-flex gap-1.25 items-center wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_271_265)">
									<path d="M10.2201 4.75678L7.26892 6.20938C5.43504 7.11203 3.34137 6.35712 2.43872 4.52319L2.28418 4.20923L5.11059 2.75663C6.94448 1.85398 9.1629 2.60889 10.0655 4.44282L10.2201 4.75678Z" stroke="var(--primary)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									<path d="M10.2202 4.75609V3.63537C10.2202 2.22374 11.152 0.981554 12.5072 0.586426" stroke="var(--primary)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									<circle cx="13.2289" cy="14.7057" r="0.586417" fill="var(--primary)" />
									<circle cx="11.3483" cy="15.9028" r="0.586417" fill="var(--primary)" />
									<path d="M4.55515 6.4092C3.23681 7.78575 2.38721 9.69267 2.38721 11.7492C2.38721 15.9821 5.81865 19.4136 10.0515 19.4136C14.2969 19.4136 17.7159 15.9946 17.7159 11.7492C17.7159 7.58238 14.3907 4.19219 10.249 4.08741C10.1265 4.08433 10.0039 4.09273 9.88307 4.11263" stroke="var(--primary)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
								</g>
								<defs>
									<clipPath id="clip0_271_2656">
										<rect width="20" height="20" fill="white" />
									</clipPath>
								</defs>
							</svg>
							Hakkımda
						</div>
						<h2 class="2xxl:text-5xxl xl:text-4xxl lg:text-4xl sm:text-3xxl text-2xxl font-bold capitalize wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">@Model.Title </h2>
                        @Html.Raw(Model.Description)
					</div>
					<ul class="flex flex-wrap text-secondary font-medium mb-7.5 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
						<li class="sm:w-[45%] w-full mb-3.75 me-3.75 bg-light py-3.75 pr-5 pl-12.5 rounded-xxl leading-normal relative before:absolute before:left-5 before:font-black before:content-['\f109'] before:font-['flaticon'] before:text-primary before:top-3.5">
							Kişiye Özel Beslenme Planı
						</li>
						<li class="sm:w-[45%] w-full mb-3.75 me-3.75 bg-light py-3.75 pr-5 pl-12.5 rounded-xxl leading-normal relative before:absolute before:left-5 before:font-black before:content-['\f109'] before:font-['flaticon'] before:text-primary before:top-3.5">
							Pratik ve Sağlıklı Tarifler
						</li>
						<li class="sm:w-[45%] w-full mb-3.75 me-3.75 bg-light py-3.75 pr-5 pl-12.5 rounded-xxl leading-normal relative before:absolute before:left-5 before:font-black before:content-['\f109'] before:font-['flaticon'] before:text-primary before:top-3.5">
							Birebir Danışmanlık
						</li>
						<li class="sm:w-[45%] w-full mb-3.75 me-3.75 bg-light py-3.75 pr-5 pl-12.5 rounded-xxl leading-normal relative before:absolute before:left-5 before:font-black before:content-['\f109'] before:font-['flaticon'] before:text-primary before:top-3.5">
							Sürekli İletişim ve Takip
						</li>
					</ul>
					@* <div class="flex flex-wrap items-center wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
						<a href="appointment.html" class="btn btn-lg btn-icon btn-primary wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInUp;">
							Read More
							<span class="size-11 min-w-11 bg-white rounded-2lg text-heading inline-flex items-center justify-center -my-2.75 -mr-4.5 ml-3"><i class="feather icon-arrow-right group-hover:animate-toRightFromLeft"></i></span>
						</a>
					</div> *@
				</div>
			</div>
		</div>
	</section>

	

	<section class="bg-no-repeat bg-cover bg-center" style="background-image: url(images/background/bg2.png);">
		<div class="container">
			<div class="row">
				<div class="md:w-5/12 w-full order-2 md:order-1 p-0">
					<div class="md:absolute bottom-0 left-0 md:w-1/2 w-full overflow-hidden">
						<img src="images/background/CTA.png" alt="" class="w-full">
					</div>
				</div>
				<div class="md:w-7/12 w-full order-1 md:order-2">
					<div class="2xxl:py-37.5 2xl:py-35 xl:py-30 lg:py-25 py-12.5 md:ml-10">
						<div class="relative z-2">
							<h2 class="2xxl:text-6xxl xl:text-5xxl sm:text-4xxl text-[32px] font-bold capitalize sm:mb-7.5 mb-3.75 !text-white"
								data-wow-delay="0.2s" data-wow-duration="0.8s">
								Hafiflemek Hiç Bu Kadar Kolay Olmamıştı
							</h2>
							<a asp-controller="Contact" asp-action="Index" class="btn btn-lg btn-white group wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
								Hadi Başlayalım
								<span class="size-11 min-w-11 bg-secondary rounded-2lg text-white inline-flex items-center justify-center -my-2.75 -mr-4.5 ml-3 group-hover:bg-white group-hover:text-heading"><i class="feather icon-arrow-right group-hover:animate-toRightFromLeft"></i></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="absolute animate-move4 h-auto bottom-[10%] right-1/5 max-lg:hidden"><img src="images/banner/item1.png" alt=""></div>
		<div class="absolute animate-move4 h-auto top-[15%] left-[5%] max-lg:hidden"><img src="images/banner/item2.png" alt=""></div>
		<div class="absolute animate-move4 h-auto top-1/5 right-[12%] max-lg:hidden"><img src="images/banner/item3.png" alt=""></div>
	</section>

</main>