<!DOCTYPE html>
<html lang="tr" data-theme-color="skin-6">
<head>

    <!-- Character Encoding -->
    <meta charset="UTF-8">

    <!-- Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@ViewData["Title"] | Zişan CİN</title>
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="keywords" content="@ViewData["MetaKeywords"]" />

    <!-- SEO Meta Tags -->
    <meta name="title" content="@ViewData["Title"] | Zişan CİN">
    
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">

    <!-- CANONICAL URL -->
    <link rel="canonical" href="https://diyetcin.com">

    <!-- FAVICONS ICON -->
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewData["Title"] | Zişan CİN">
    <meta property="og:description" content="@ViewData["MetaDescription"]">
    <meta property="og:url" content="https://clinicmaster.dexignzone.com/tailwind/social-image.png">
    <meta property="og:image" content="https://clinicmaster.dexignzone.com/tailwind/social-image.png">
    <meta property="og:site_name" content="Zişan CİN">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@ViewData["Title"] | Zişan CİN">
    <meta name="twitter:description" content="@ViewData["MetaDescription"]">
    <meta name="twitter:image" content="https://clinicmaster.dexignzone.com/tailwind/social-image.png">

    <!-- IE Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/assets/vendor/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/flaticon/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/feather/css/iconfont.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body id="bg" class="bg-light">
    <div class="page-wraper">
        <div class="fixed size-full left-0 top-0 z-9999999 flex items-center justify-center bg-white" id="dzPreloader">
            <div>
                <span class="size-12 rounded-full border-2 border-secondary border-b-transparent box-border animate-rotation mx-auto block mb-5 absolute right-7.5 top-10 after:box-border after:absolute after:inset-0 after:m-auto after:border-2 after:border-primary after:border-t-transparent after:size-6 after:rounded-full after:animate-rotationBack after:origin-center"></span>
                <img src="@Url.Content("~/images/logo.gif")" alt="/" class="w-100 block mx-auto">
                <span class="loader"></span>
            </div>
        </div>
        @await Component.InvokeAsync("Navbar")
        <div id="smooth-wrapper">
            <div id="smooth-content">
               
                    @RenderBody()
               
                @await Component.InvokeAsync("Footer")
            </div>
           
        </div>
    </div>

    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="@Url.Content("~/assets/vendor/swiper/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/imagesloaded/imagesloaded.js")"></script>
    <script defer src="@Url.Content("~/assets/vendor/gsap/gsap.min.js")"></script>
    <script defer src="@Url.Content("~/assets/vendor/gsap/ScrollSmoother.js")"></script>
    <script defer src="@Url.Content("~/assets/vendor/gsap/ScrollTrigger.min.js")"></script>
    <script src="@Url.Content("~/assets/vendor/xmenu/xmenu.js")"></script>
    <script src="@Url.Content("~/assets/js/dz.carousel.js")"></script>
    <script src="@Url.Content("~/assets/js/dz.ajax.js")"></script>
    <script src="@Url.Content("~/assets/js/animation.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
