@model IEnumerable<Blog>
@using System.Globalization
@using System.Text.RegularExpressions
@using System.Net

@{
	ViewData["Title"] = "Blog";
	ViewData["MetaDescription"] = "Diyetisyen Zişan CİN Son Yazılar";
	ViewData["MetaKeywords"] = "Diyetisyen Zişan CİN Son Yazılar";

	var trCulture = new CultureInfo("tr-TR");
}

<div class="lg:min-h-125 md:min-h-100 sm:min-h-87.5 min-h-75 bg-cover bg-center bg-light relative z-1 w-full overflow-hidden flex" style="background-image:url(images/banner/bnr1.webp);">
	<div class="container relative z-1 h-auto table">
		<div class="row">
			<div class="lg:w-2/3">
				<div class="table-cell lg:h-125 md:h-100 sm:h-87.5 h-75 align-middle pt-17.5 pb-5 xl:ps-17.5 max-md:text-center">
					<h1 class="2xxl:text-7xl xl:text-6xxl md:text-[48px] text-4xl font-bold mb-1.25 leading-[1.2] break-word !text-white wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Merak Ettikleriniz</h1>
					<nav class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
						<ul class="inline-block rounded-5xl lg:py-2.5 py-1.5 lg:px-7.5 px-5 bg-white shadow-breadcrumb">
							<li class="inline-block lg:text-base text-sm font-normal capitalize text-primary"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
							<li class="inline-block lg:text-base text-sm font-normal capitalize text-primary pl-2 relative before:content-['\f101'] before:float-left before:text-primary before:font-bold before:font-['Font_Awesome_5_Free'] before:text-sm before:pr-3 before:top-0.5 before:relative">Blog</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="absolute right-[-2%] bottom-[-2%] float-right max-3xl:w-130 max-lg:hidden">
			<img src="images/banner/bnr-pic.webp" alt="" class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
		</div>
	</div>
	<div class="absolute z-9 bottom-[5%] right-[45%] max-xl:hidden"><img class="animate-move1" src="images/banner/item1.png" alt=""></div>
	<div class="absolute z-9 3xl:top-[30%] top-2/5 right-[35%] max-xl:hidden"><img class="animate-move2" src="images/banner/item2.png" alt=""></div>
	<div class="absolute z-9 3xl:bottom-[20%] right-[10%] bottom-[30%] max-xl:hidden"><img class="animate-move3" src="images/banner/item3.png" alt=""></div>
	<div class="absolute z-9 bottom-[20%] 3xl:right-[18%] right-[5%] max-xl:hidden"><img class="animate-move3" src="images/banner/item4.png" alt=""></div>
	<div class="h-full w-25 min-w-25 absolute bottom-0 flex justify-between items-center flex-col py-6.25 px-3.75 left-0 border-r border-white/10 z-1 max-xl:hidden">
		<ul class="flex gap-7.5 [writing-mode:sideways-lr]">
			<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.Instagram" target="_blank">Instagram</a></li>
			<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.YouTube" target="_blank">Youtube</a></li>
			<li><a class="text-xs font-semibold uppercase text-white tracking-[1px]" href="@DataRequestModel.SiteSetting.Facebook" target="_blank">Facebook</a></li>
		</ul>
		<a asp-controller="Contact" asp-action="Index" class="btn btn-white btn-sm !py-2 !px-4 shadow-btn [writing-mode:sideways-lr] !rounded-2xl">Hadi Başlayalım</a>
	</div>
</div>

<section class="2xl:pt-25 2xl:pb-17.5 md:pt-17.5 md:pb-10 sm:pt-12.5 sm:pb-5 pt-10 pb-5 bg-light">
	<div class="container">
		<div class="row">
			<div class="w-full mb-7.5">
				<div class="row loadmore-content">
					@foreach (var item in Model)
					{
						var descriptionText = Regex.Replace(item.Description ?? "", "<.*?>", string.Empty);
						descriptionText = WebUtility.HtmlDecode(descriptionText).Trim();

						var shortDescription = descriptionText.Length > 100
							? descriptionText.Substring(0, 100).Trim() + "..."
							: descriptionText;

						var formattedDate = item.CreatedAt.ToString("dd MMM yyyy", trCulture);

						<div class="xl:w-1/3 md:w-1/2 w-full mb-7.5 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
							<div class="relative z-1 lg:p-7.5 p-5 h-full duration-200 bg-white rounded-3xl group">
								<div class="rounded-xxl mb-6.25 sm:h-62.5 h-50 relative overflow-hidden before:absolute before:top-0 before:-left-[75%] before:z-0 before:block before:w-1/2 before:h-full before:skew-x-[-25deg] before:bg-linear-(--img-hover-gradient) group-hover:before:animate-dzShine">
									<img src="images/blog/middle/img1.webp" alt="" class="size-full object-cover">
								</div>

								<div class="relative">
									<div class="mb-2.5">
										<ul class="flex flex-wrap items-center gap-1.25">
											<li class="bg-[rgba(var(--primary-rgb),0.1)] text-primary rounded-xxl font-medium text-2xs py-1.25 pr-3.75 pl-5.75 leading-[1.4] relative inline-flex mr-1.25 items-center gap-1 flex-wrap after:absolute after:size-1.5 after:rounded-full after:bg-primary after:left-2.5">
												@formattedDate
											</li>
											<li class="bg-[rgba(var(--primary-rgb),0.1)] text-primary rounded-xxl font-medium text-2xs py-1.25 pr-3.75 pl-5.75 leading-[1.4] relative inline-flex mr-1.25 items-center gap-1 flex-wrap after:absolute after:size-1.5 after:rounded-full after:bg-primary after:left-2.5">
												<a href="javascript:void(0);">Zişan CİN</a>
											</li>
										</ul>
									</div>

									<h3 class="xl:text-2xl text-xl mb-2.5">
										<a asp-controller="Blog" asp-action="Detail" asp-route-slug="@item.Slug">@item.Title</a>
									</h3>

									<p class="mb-4 text-body leading-[1.7]">
										@shortDescription
									</p>

									<a asp-controller="Blog" asp-action="Detail" asp-route-slug="@item.Slug" class="text-2sm font-medium capitalize text-primary">
										Daha Fazla... <i class="feather icon-arrow-right-circle"></i>
									</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>